body {
    background-color: rgb(55, 169, 197);
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', arial;
  }

  h1{
    font-size: 60px;
    text-align: center;
    margin-right: 180px;
  }

  h2{
    text-decoration: underline;
    font-size: 35px;
    margin-left: 30px
  }

  #sumario {
    background-color:;
  }

  #escritasobremim{
    text-align: justify;    
    font-size: 25px;
    word-spacing: 10px;
    margin-left: 50px;
    margin-right: 400px;
  }

  #lista-competencias-s, #lista-competencias-h{
      list-style:none;
      font-size: 25px;
      columns: 2;
      border: 2px solid black;
      border-radius: 10px;
      background-color: rgb(73, 137, 153);
  }

  #hardskills, #softskills{
      margin-left: 50px;
      float: left;
  }

  #fotogui{
      float: right;
      border-radius: 30px;
      padding: 20px;
      width: 280px;
      height: 280px;
      object-fit: cover;
      object-position: 10% 10% ;
  }