@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url(fonts/RobotoSlab-Regular.ttf);
}

body {
    background-color: rgb(60, 60, 60);
    color: white;
    margin: 0px;
    font-family: 'RobotoSlab-Regular';
  }

  h1{

  }

  h2{
    text-decoration: underline;
    font-size: 35px;
    margin-left: 30px
  }

  div{
    display: block;
  }

  a{
    text-decoration: none;
  }

  header{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(45, 45, 45);
  }

  #header-container{
    position: relative;
    width: 1800px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(45, 45, 45);
  }

  #gui-titulo{
    float: left;
  }

  #icons-container{
    position: relative;
    top: 15px;
    float: right;
  }

  #escritasobremim{
    text-align: justify;    
    font-size: 25px;
    word-spacing: 10px;
    margin-left: 50px;
    margin-right: 400px;
  }

  #lista-competencias-s, #lista-competencias-h{
      list-style:inside;
      line-height: 40px;
      font-size: 25px;
      columns: 2;
      width: 950px;
      height: 80px;
      text-align: justify;
      border: 2px solid white;
      border-radius: 10px;
      padding: 5px;
      margin: 10px;
      background-color: rgba(95, 105, 107, 0.753);
  }

  #hardskills, #softskills{
      font-size: 30px;
      padding: 0px 80px 0px 50px;
      margin: 20px 0px 0px 0px;
  }

  #fotogui{
      position:static;
      bottom: 50px;
      float: right;
      border-radius: 30px;
      padding: 20px;
      width: 270px;
      height: 270px;
      object-fit: cover;
      object-position: 10% 10% ;
  }

  #lista-inspiracoes{
      padding-top: 20px;
      text-align: center;
      columns: 3;
      list-style: none;
  }

  #frase-carl{
      font-size: 20px;
      text-align: right;
      font-style: italic;
      margin-right: 20px;
  }

  .inspiraçoes-tn{
      width: 250px;
      height: 250px;
  }

  .contato-tn{
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 15px;
      display: inline-block;
  }

  .titulo{
    color: white;
    font-size: 60px;
    margin-top: 10px;
  }
